/* CSS declarations go here */
h1 {
	text-align: center;
}

fieldset {
	display: hidden;
	float: left;
	height: 200px;
	max-width: 500px;
	margin-bottom: 100px;
}

label {
	display: block;
}

form {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#totalCalories {
	text-align: center;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}

#burritoImage {
	width: 0px;
	margin-left: auto;
	margin-right: auto;
}
img	{
	width: 100%;
}
